.profile-container {
  margin: 1rem;
  display: flex;
}

.profile-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin : 1rem;
}

.switch {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  width: 27rem;
  border: 0;
  border-radius: 5px;
  background-color: #fff;
  justify-content: space-between;
}

.switch-btn {
  transition: all 350ms;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  width: auto;
  font-weight: 0.9rem;
  border: 0;
  outline: 0;
  height: 40px;
  display: flex;
  flex: 1;
}

.switch-btn:hover {
  background-color: rgb(71, 99, 162);
}

.body {
  background-color: #141821;
}

.title {
  text-align: center;
  color: #141821;
}

.collection-header {
  display: flex;
  justify-content: space-between;
  margin: 0.2rem 0;
  border-bottom: 1px solid #c0c0c0;
}

.collection-name {
  color: #141821;
}

.home-body {
  padding: 1rem 2rem;
}

.list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 1rem 1rem;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30vh;
  width: 20rem;
  background-color: #141821;
  border-radius: 15px;
  color: #fff;
}

.background-card-image {
  background-image: url("../assets/images/2.jpg");
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.alert {
  transition: all 400ms;
  position: absolute;
  width: 60%;
  height: 60px;
  background-color: green;
  color: #fff;
  border-radius: 0 0 8px 8px;
}

.alert-ctn {
  display: flex;
  justify-content: center;
}

.watch {
  display: flex;
  justify-content: center;
  align-items: center;
}
